.dashboard {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 4px;
    background-color: rgb(234, 228, 240);
}

.display {
    text-align: left;
    margin: 40px 35px;
}

.header {
    text-align: left;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}